/* ABSTRACTS */
/*  
0 - 600PX : Mobile phone

600 - 900px : Tablet portrait mode

900-1100px : tablet port medium

900 - 1200px : Tablet Landscape mode

( 1200px - 1800px ) is where our normal styles apply

1800px + :  Big Desktop Screen


$breakpoint arguement choices:

-phone
- Tablet
- tab-port
-tab-land
-big-desktop

*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}
@media screen and (max-width: 68.75em) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background: #000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "DM sans", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.primary-heading {
  font-size: 12.8rem;
  font-weight: 700;
  line-height: 12.8rem;
  letter-spacing: 0.4px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 75em) {
  .primary-heading {
    font-size: 9rem;
    line-height: 9rem;
  }
}
@media screen and (max-width: 68.75em) {
  .primary-heading {
    font-size: 8rem;
    line-height: 8rem;
  }
}
@media screen and (max-width: 56.25em) {
  .primary-heading {
    font-size: 7.5rem;
    line-height: 7.5rem;
  }
}
@media screen and (max-width: 37.5em) {
  .primary-heading {
    font-size: 7.2rem;
    line-height: 7.2rem;
  }
}

.secondary-heading {
  font-size: 6rem;
  font-weight: 700;
  line-height: 6rem;
  letter-spacing: 0.3px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 56.25em) {
  .secondary-heading {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}

/* COMPONENTS */
.active-btn {
  padding: 0.9rem 1.6rem;
  background: #fff;
  border-radius: 1.3rem;
  color: #000;
  font-weight: 500;
  line-height: 2.4rem;
  border: none;
}

.card {
  background: #000;
  padding-block: 9.6rem;
}
.card-description {
  font-size: 1.6rem;
  text-align: center;
  margin: 0 auto;
  width: 45%;
  padding-top: 2rem;
}
@media screen and (max-width: 56.25em) {
  .card-description {
    width: 50%;
  }
}
.card-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(25rem, max-content));
  grid-gap: 1.6rem;
  padding-top: 6.4rem;
  padding-inline: 11.2rem;
}
.card-item {
  padding: 4rem 2rem;
  text-align: center;
  border-radius: 0.9rem;
  border: 1px solid currentColor;
}
.card-item-image {
  width: 5.6rem;
  height: 5.6rem;
  background: #fff;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  border-radius: 0.9rem;
}
.card-item-heading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  padding-top: 2.4rem;
}
.card-item-text {
  font-size: 1.6rem;
  width: 90%;
  margin: 0 auto;
  padding-top: 0.8rem;
}

.navbar {
  background: #000;
  padding-inline: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}
@media screen and (max-width: 37.5em) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}
.navbar-logo {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.navbar-logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(89deg, #f87bff 0.48%, #fb92cf 24.31%, #ffdd9b 48.21%, #c2f0b1 72.62%, #2fd8fe 99.52%);
  filter: blur(6px);
  opacity: 0.8;
  border-radius: 1.2rem;
  z-index: -1;
}
.navbar-logo-img {
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 1.2rem;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 37.5em) {
  .navbar-container {
    background: #000;
    height: 80vh;
    position: fixed;
    top: 10%;
    right: -100%;
    width: 60%;
    z-index: 5;
    border-radius: 2rem 0 0 2rem;
    box-shadow: -1rem 1rem 1.4rem rgba(12, 12, 12, 0.3960784314);
    transition: right 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  }
}
.navbar-list:not(:last-child):hover {
  color: #fff;
}
.navbar-items {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  column-gap: 2.4rem;
}
@media screen and (max-width: 37.5em) {
  .navbar-items {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5rem;
    padding-inline: 2rem;
    padding-top: 35%;
  }
}
.navbar-link {
  transition: color 0.2s ease;
}
.navbar-icon {
  fill: white;
  width: 4rem;
  height: 4rem;
  margin-right: 2.2rem;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 37.5em) {
  .navbar-icon.close {
    position: absolute;
    right: -1rem;
    top: 2rem;
  }
}
@media screen and (max-width: 37.5em) {
  .navbar-icon {
    display: block;
  }
}
@media screen and (max-width: 37.5em) {
  .navbar-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(196, 192, 192, 0.1215686275);
    backdrop-filter: blur(5px);
    z-index: 4;
    visibility: hidden;
    transition: 0.2s;
  }
}

.visible {
  visibility: visible;
}

.slide-in {
  right: 0;
}

.investor {
  background: #000;
  padding: 9.6rem 1.6rem;
  overflow: hidden;
}
.investor-text {
  font-size: 2rem;
  text-align: center;
}
.investor-content {
  white-space: nowrap;
  padding-block: 3.6rem;
  position: relative;
}
.investor-content:hover .investor-images {
  animation-play-state: paused;
}
.investor-content::before, .investor-content::after {
  content: "";
  height: 100%;
  width: 22rem;
  position: absolute;
  top: 0;
  z-index: 2;
}
.investor-content::before {
  background: linear-gradient(to right, #000, transparent);
  left: -5%;
}
.investor-content::after {
  background: linear-gradient(to left, #000, transparent);
  right: -5%;
}
.investor-images {
  display: inline-block;
  animation: slide 15s linear infinite;
}
.investor-images > * {
  width: 13.8rem;
  margin-inline: 6.4rem;
}

@keyframes slide {
  from {
    transform: transalteX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* LAYOUTS */
.header {
  position: relative;
  padding: 9.6rem 1.6rem;
  font-size: 1.6rem;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(180deg, #000000 0%, #200d42 20%, #200d42 34%, #4f21a1 65%, #a46edb 82%, #000 100%);
  /* FLoating Image */
}
@media screen and (max-width: 37.5em) {
  .header {
    padding-top: 15rem;
  }
}
@media screen and (max-width: 56.25em) {
  .header {
    overflow: hidden;
  }
}
.header-ellipse {
  display: block;
  width: 290%;
  height: 120rem;
  border-radius: 50%;
  border: 1px solid #BC7AF6;
  background: radial-gradient(50% 50% at 50% 50%, #000 0%, #000 82%, #9560eb 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
  position: absolute;
  bottom: -110rem;
  left: -90%;
}
.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 1.2rem;
  width: fit-content;
  margin: 0 auto;
  padding-inline: 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.header-text .version-text {
  background: linear-gradient(90deg, #f87aff 0%, #fb93d0 25%, #fd9 50%, #c3f0b2 75%, #2fd8fe 100%);
  background-clip: text;
  color: transparent;
}
.header-btn {
  display: flex;
  column-gap: 0.4rem;
}
.header-btn .header-link {
  background-color: transparent;
  color: #fff;
  outline: none;
  border: none;
}
.header h1 {
  padding-block: 3.2rem;
}
.header-description {
  font-size: 2rem;
  text-align: center;
  text-align: center;
  width: 33%;
  margin: 0 auto;
  padding-bottom: 3.2rem;
  color: #fff;
}
@media screen and (max-width: 75em) {
  .header-description {
    width: 50%;
  }
}
@media screen and (max-width: 56.25em) {
  .header-description {
    width: 60%;
  }
}
.header-cursor {
  width: 20rem;
  position: absolute;
  left: 19%;
  top: 40%;
}
@media screen and (max-width: 75em) {
  .header-cursor {
    left: 19%;
    top: 35%;
  }
}
@media screen and (max-width: 68.75em) {
  .header-cursor {
    left: 12%;
    top: 35%;
  }
}
@media screen and (max-width: 56.25em) {
  .header-cursor {
    left: -3%;
    top: 40%;
  }
}
.header-message {
  width: 20rem;
  position: absolute;
  top: 33%;
  right: 17%;
}
@media screen and (max-width: 75em) {
  .header-message {
    top: 30%;
    right: 15%;
  }
}
@media screen and (max-width: 68.75em) {
  .header-message {
    right: 10%;
    top: 33%;
  }
}
@media screen and (max-width: 56.25em) {
  .header-message {
    right: -10%;
    top: 35%;
  }
}
@media screen and (max-width: 37.5em) {
  .header-cursor, .header-message {
    display: none;
  }
}
@media screen and (max-width: 56.25em) {
  .header-cursor, .header-message {
    width: 15rem;
  }
}
.header-cta-btn {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.footer {
  padding-block: 2rem;
  border-top: 1px solid currentColor;
  display: block;
  justify-content: center;
  margin-inline: 2.3rem;
}
.footer-content {
  padding-inline: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 37.5em) {
  .footer-content {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.footer-text {
  font-size: 1.6rem;
}
.footer-social {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.footer-social img {
  width: 2.4rem;
  height: 2.4rem;
}

/* PAGES */
.contact {
  background: #000;
  padding-block: 9.6rem;
  position: relative;
  overflow: hidden;
}
.contact-content {
  padding-inline: 1rem;
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 75em) {
  .contact-content {
    width: 60%;
  }
}
@media screen and (max-width: 37.5em) {
  .contact-content {
    width: 90%;
    padding-inline: 1.6rem;
  }
}
.contact-text {
  padding-top: 2rem;
  font-size: 2rem;
  text-align: center;
  text-align: center;
  width: 100%;
}
.contact-form {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
@media screen and (max-width: 37.5em) {
  .contact-form {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.contact-form-input {
  padding-inline: 2rem;
  border-radius: 1.2rem;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1.6rem;
  font-family: inherit;
  transition: 0.2s;
  border-bottom: 3px solid transparent;
}
@media screen and (max-width: 56.25em) {
  .contact-form-input {
    padding: 1rem 2rem;
  }
}
.contact-form-input:focus {
  border-bottom: 3px solid #f54235;
}
.contact-form-input:focus:invalid {
  border-bottom: 3px solid #06cc06;
}
.contact-form-input::placeholder {
  font-size: 1.6rem;
}
.contact-form button {
  cursor: pointer;
}
.contact img {
  position: absolute;
  width: 20rem;
  height: 20rem;
}
@media screen and (max-width: 37.5em) {
  .contact img {
    display: none;
  }
}
.contact-emoji {
  top: 0rem;
  left: 12rem;
}
@media screen and (max-width: 68.75em) {
  .contact-emoji {
    left: 5rem;
  }
}
@media screen and (max-width: 56.25em) {
  .contact-emoji {
    left: -15rem;
  }
}
@media screen and (max-width: 37.5em) {
  .contact-emoji {
    display: none;
  }
}
.contact-setting {
  top: 15rem;
  right: 12rem;
}
@media screen and (max-width: 68.75em) {
  .contact-setting {
    right: 5rem;
  }
}
@media screen and (max-width: 56.25em) {
  .contact-setting {
    right: -5rem;
  }
}

.faq {
  background: linear-gradient(180deg, #5D2CA8 0%, #000 100%);
  padding-block: 9.6rem;
}
.faq-content {
  padding-inline: 1.6rem;
}
.faq-accordion-container {
  padding-top: 4.8rem;
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 56.25em) {
  .faq-accordion-container {
    width: 100%;
    padding-inline: 1.6rem;
  }
}
.faq-accordion-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2.8rem;
  cursor: pointer;
  background: transparent;
  border-bottom: 0.1rem solid currentColor;
}
.faq-accordion .question {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
}
.faq-accordion .answer {
  font-size: 1.6rem;
  color: #fff;
  padding-top: 1rem;
  padding-inline: 2rem;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: 0.2s;
  will-change: height, opacity, visibility;
}
.faq-accordion .answer .answer {
  font-size: 1.6rem;
  color: #fff;
  padding-top: 1rem;
  padding-inline: 2rem;
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: 0.2s;
  will-change: height, opacity, visibility;
}
@media screen and (max-width: 56.25em) {
  .faq-accordion .answer .answer {
    width: 100%;
  }
}
.faq-accordion .accordion-icon {
  position: relative;
}
.faq-accordion .accordion-icon > * {
  width: 2.4rem;
  height: 2.4rem;
  fill: #fff;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
}
.faq-accordion .accordion-icon .minus {
  display: none;
}
.faq-accordion .faq-accordion-content[aria-expanded=true] .plus {
  display: none;
}
.faq-accordion .faq-accordion-content[aria-expanded=true] .minus {
  display: block;
}
.faq-accordion .faq-accordion-content[aria-expanded=true] ~ .answer {
  visibility: visible;
  opacity: 1;
  height: 9rem;
}

.show {
  visibility: visible;
  opacity: 1;
  height: 9rem;
}

.intuitive {
  background: linear-gradient(180deg, #000 0%, #5D2CA8 100%);
  padding-block: 9.6rem;
}
.intuitive-content {
  padding-inline: 1.6rem;
}
.intuitive-description {
  font-size: 1.6rem;
  text-align: center;
  width: 33%;
  margin: 0 auto;
  padding-top: 2rem;
}
@media screen and (max-width: 68.75em) {
  .intuitive-description {
    width: 49%;
  }
}
.intuitive-img {
  display: block;
  margin: 0 auto;
  padding-top: 5.6rem;
  width: 105.2rem;
}
@media screen and (max-width: 68.75em) {
  .intuitive-img {
    width: 99%;
  }
}

/*# sourceMappingURL=style.css.map */
