*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;

  @include respond(tab-port-md) {
    font-size: 55%;
  }

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background: $color-black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}
