.investor {
  background: $color-black;
  @include primary-pad;
  overflow: hidden;
  
  &-text {
    @include bg-norm-font;
  }

  &-content {
    white-space: nowrap;
    padding-block: 3.6rem;
    position: relative;

   

    &:hover .investor-images {
      animation-play-state: paused;
    }

    &::before,
    &::after {
      content: "";
      height: 100%;
      width: 22rem;
      position: absolute;
      top: 0;
      z-index: 2;
      
      @include respond(phone){
       width: 12rem;
      }


    }

    &::before {
      background: linear-gradient(to right, $color-black 50%, transparent);
      left: -5%;

    }

    &::after {
     background: linear-gradient(to left, $color-black 50%, transparent);
      right: -5%;
    }
  }

  &-images {
    display: inline-block;
    animation: slide 20s linear infinite;

    & > * {
      width: 13.8rem;
      //height: 3.2rem;
      margin-inline: 6.4rem;
    }
  }
}

@keyframes slide {
  from {
    transform: transalteX(0);
  }

  to {
    transform: translateX(-100%);
  }
}


/// This is Carousel 