.contact {
  background: $color-black;
  @include primary-pad-block;

  &-text {
    padding-top: 2rem;
    @include bg-norm-font;
    text-align: center;
    width: 34%;
    margin: 0 auto;


    @include respond (tab-port-md){
      width: 80%;
    }

  }

  &-form {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    column-gap: 1rem;

    &-input {
      padding-inline: 2rem;
      border-radius: 1.2rem;
      outline: none;
      border: none;
      background: #ffffff33;
      color: $color-white;
      @include normal-font;
      font-family: inherit;
      transition: .2s;
          border-bottom: 3px solid transparent;

&:focus{
    border-bottom:  3px solid #c90700;
}

      &:focus:invalid {
        border-bottom: 3px solid #06cc06;
      }

      &::placeholder {
        @include normal-font;
      }
    }

    & button {
      cursor: pointer;
    }
  }
}
