.faq {
background: linear-gradient(180deg, $color-secondary 0%, $color-black 100%);
  @include primary-pad-block;

  &-content {
    padding-inline: 1.6rem; 
  }

  &-accordion-container {
    padding-top: 4.8rem;
     width: 50%;
      margin: 0 auto;

      
@include respond (tab-port){
  width: 100%;
  padding-inline: 1.6rem
}

  }

  &-accordion {


    &-content {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 2.8rem;
      cursor: pointer;
      background:transparent;
      border-bottom: .1rem solid currentColor;


    }

    //Question

    & .question {
      color: $color-white;
      @include normal-font;
      font-weight: 700;
    }


    // Answer

    & .answer {
      @include normal-font;
     // text-align: center;
     color: $color-white;
     padding-top: 1rem;
      padding-inline: 2rem;
      font-weight: 500;
      visibility: hidden;
      opacity: 0;
      height: 0;
      transition: .2s;
      will-change: height, opacity,visibility;

      & .answer {
      @include normal-font;
     // text-align: center;
     color: $color-white;
     padding-top: 1rem;
      padding-inline: 2rem;
      font-weight: 500;
      visibility: hidden;
      opacity: 0;
      height: 0;
      transition: .2s;
      will-change: height, opacity,visibility;


      @include respond(tab-port){
        width: 100%;
      }


      

    }


    }


    & .accordion-icon {
      position: relative;

      & > * {
        width: 2.4rem;
        height: 2.4rem;
        fill: $color-white;
        position: absolute;
        right: 0;
        transform: translateY( -50%);
      }

      & .minus {
        display: none;
      }
    }

    

    & .faq-accordion-content[aria-expanded="true"] .plus {
      display: none;
    }

    & .faq-accordion-content[aria-expanded="true"] .minus {
      display: block;
    }

    & .faq-accordion-content[aria-expanded="true"] ~ .answer {
      visibility: visible;
      opacity: 1;
      height: 9rem;

     
    }
  }
}


.show{
     visibility: visible;
      opacity: 1;
      height: 9rem;
}