.intuitive{
    
 background: linear-gradient(180deg, $color-black 0%, $color-secondary 100%);

@include primary-pad-block;
 padding-inline: 2.5rem;

&-content{
  padding-inline: 2rem;
  background: red;
}

&-description{
  @include normal-font;
  text-align: center;
  width: 33%;
  margin: 0 auto;
  padding-top: 2rem;


     @include respond(tab-port-md) {
    width: 49%;
    }

     @include respond(phone) {
    width: 90%;
   
    }
}


&-img{
  display: block;
  margin: 0 auto;
padding-top: 5.6rem;

width: 105.2rem;


   @include respond(tab-port-md) {
      width: 100%;
    }



}

}